*{
    box-sizing: border-box;
}


.container {
border: 4px solid lightgrey;
padding: 24px 24px 0 24px;
}
.row {
width: 100%;
max-width: 400px;
margin: auto;

}


.box {
    border: 4px solid lightgrey;
    width: 30%;
    height: 100px;
    margin-bottom: 24px;
    
 
}

.title {
    border: 4px solid lightgrey;
    width: 100%;
    height: 50px;
    margin-bottom: 24px;

}

.boxwrapper1 {

display: flex;
flex-wrap: wrap;
justify-content: space-between;
    
}




